# Ignore RStudio specific files
.Rproj.user/
.Rhistory

# Ignore R environment files
.RData
.Ruserdata

# Ignore sensitive credentials and keys
config.yml
secrets.json
api_key.txt

# Ignore compiled code
*.dll
*.so

# Ignored folders
roughwork/

# Ignored datasets
data/listings.csv.gz
data/online+retail.zip
Rough-Work.R
data/~$Online Retail.xlsx